
.col-5{width: 50%;}
@media screen and (max-width: 768px) {
  .col-5{width: 100%;}
}

.navbar-nav .nav-link:hover {
color: #ffffff; /* Text color on hover for navbar links */
background-color: #0e0e0e; /* Background color on hover for navbar links */
}

.offcanvas-body a:hover {
color: #ffffff; /* Text color on hover for offcanvas body links */
background-color: #0b0b0b; /* Background color on hover for offcanvas body links */
}

.d-grid gap-2 .btn-primary:hover {
background-color: #0b0b0b; /* Darker shade on hover for buttons */
}

.navbar-brand {
font-size: 1.5rem; /* Set the font size for the navbar brand */
font-weight: bold; /* Set the font weight for the navbar brand */
color: #dc3545;
/*position: fixed; /* Set the text color for the navbar brand */
}
/* Navbar Styles */
.navbar {
  background-color: #e3f2fd; /* Set the background color for the navbar */
}

.navbar-brand {
  font-size: 1.5rem; /* Set the font size for the navbar brand */
  font-weight: bold; /* Set the font weight for the navbar brand */
  color: #0d47a1;
  /*position: fixed; /* Set the text color for the navbar brand */
}


.navbar-nav .nav-link {
  color: #0d47a1; /* Set the text color for the navbar links */
}

.navbar-nav .nav-link.active {
  color: #1e88e5; /* Set the text color for the active navbar link */
}

/* Dropdown Styles */
.navbar-nav .dropdown-menu {
  background-color: #e3f2fd; /* Set the background color for the dropdown menu */
  border: 1px solid #0d47a1; /* Set the border color for the dropdown menu */
}

.navbar-nav .dropdown-item {
  color: #0d47a1; /* Set the text color for the dropdown items */
}

.navbar-nav .dropdown-item:hover {
  background-color: #1e88e5; /* Set the background color for the hovered dropdown item */
  color: #ffffff; /* Set the text color for the hovered dropdown item */
}

/* styles.css */

.custom-btn {
  background-color: #ff4500; /* Custom background color */
  color: #fff; /* Custom text color */
  font-size: 18px; /* Custom font size */
  /* Add any additional styles as needed */
  border-radius: 10px; /* Custom border radius */
}

.navbar-nav .nav-link:hover {
  color: #ffffff; /* Text color on hover for navbar links */
  background-color: #0e0e0e; /* Background color on hover for navbar links */
}

.offcanvas-body a:hover {
  color: #ffffff; /* Text color on hover for offcanvas body links */
  background-color: #0b0b0b; /* Background color on hover for offcanvas body links */
}

.d-grid gap-2 .btn-primary:hover {
  background-color: #0b0b0b; /* Darker shade on hover for buttons */
}

.linkStyle {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #007BFF;
  margin-right: 15px;
}